<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Students List</h1>
    <table border="1px" style="width: 50%;">
        <tr>
            <th>first_name</th>
            <th>last_name</th>
            <th>age</th>
            <th>email</th>
        </tr>
        {% for i in data %}
        <tr>
            <td>{{ i.first_name }}</td>
            <td>{{ i.last_name }}</td>
            <td>{{ i.age }}</td>
            <td>{{ i.email }}</td>
            <td><a href="/stud_del/{{ i.id }}">delete</a></td>
            <td><a href="/stud_edit/{{ i.id }}">edit</a></td>
        </tr>
        {% endfor %}
    </table>
</body>
</html>