<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        div{
            display: flex;
            justify-content: center;
        }
        .icon{
            justify-content: space-evenly;
            padding: 20px;
        }
    </style>
</head>
<body>
    <h1>HOME PAGE</h1>
    <div class="icon">
        <a href='login/'>Login</a>
        <a href='edit/'>Edit</a>
        <a href='logout/'>Logout</a>
    </div>
</body>
</html>